@if ({
  loadTokenListProcess: loadTokenListProcess$ | async,
  tokenList: tokenList$ | async,
  lastLoadTokenListError: lastLoadTokenListError$ | async,
}; as extracted) {
  <div class="mb-4">
    <div class="py-4">
      <h6 class="pretitle">Current account token list</h6>
      <h2 class="title">Retrieve status: {{ extracted.loadTokenListProcess }}</h2>
    </div>
    <mat-divider></mat-divider>
  </div>
  <mat-card>
    <mat-card-content>

      @if (extracted.loadTokenListProcess === progressStatuses.succeed) {
        <div>
          Retrieve result:
          <pre>{{extracted.tokenList | json}}</pre>
        </div>

        <button mat-button color="primary" (click)="openAddTokenDialog()">+ Add New Token</button>
      }

      @if (extracted.lastLoadTokenListError) {
        <p>Error occurred: {{ extracted.lastLoadTokenListError }}</p>
      }
    </mat-card-content>
  </mat-card>
}
