.token-list__item {
  margin: 20px 0;
}

.token-list__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-list__item-nav {
  display: block;
}

.token-list__nav-icon {
  cursor: pointer;
}

