.rt-tokens {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  width: 100%;
  background-color: var(--mdc-elevated-card-container-color);
  padding-top: 0;
  padding-bottom: 0;
  z-index: 11;
  border-bottom: 1px solid var(--mdc-elevated-card-container-color);
}

.app-content {
  flex: 1;
}

.app-footer {
  background-color: var(--mdc-elevated-card-container-color);
  border-top: 1px solid var(--mdc-elevated-card-container-color);
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9;
}

