@if ({
  isControlContainerSubmitted: isControlContainerSubmitted$ | async,
}; as extracted) {
  <div class="rt-text-input">
    <mat-form-field appearance="outline">
      <input
        #textInputElement
        matInput
        [type]="inputType"
        [formControl]="textInputControl"
        [placeholder]="placeholder || ''"
      >
    </mat-form-field>

    <rt-validation
      [controlStatuses$]="providedControlStatuses$"
      [isControlContainerSubmitted]="extracted.isControlContainerSubmitted"
      [validationMessage]="validationMessages | rtFormsDefineErrorMessage : ngControl.errors"
    ></rt-validation>
  </div>
}

