<!-- Todo: probably change to ngControl.events after Angular migration to v18. -->
@if ({
  shouldDisplayValidation:
    ngControl.invalid | rtFormsShouldDisplayValidation
      : ngControl.dirty
      : ngControl.touched
      : errorHandleStrategy
      : (isControlContainerSubmitted$ | async),
}; as extracted) {
  <div class="rt-text-input">
    <mat-form-field appearance="outline">
      <input
        #textInputElement
        matInput
        [type]="inputType"
        [formControl]="textInputControl"
        [placeholder]="placeholder || ''"
      >
    </mat-form-field>

    @if (extracted.shouldDisplayValidation) {
      <mat-error class="rt-input-error">
        {{ validationMessages | rtFormsDefineErrorMessage : ngControl.errors }}
      </mat-error>
    }
  </div>
}

