@if ({
  shouldIndicateInvalidity: shouldIndicateInvalidity$ | async,
}; as extracted) {
  <div
    class="rt-text-input"
    [ngClass]="{
      'rt-text-input_invalid': extracted.shouldIndicateInvalidity,
    }"
  >
    <mat-form-field appearance="outline">
      <input
        #textInputElement
        matInput
        [type]="inputType"
        [formControl]="textInputControl"
        [placeholder]="placeholder || ''"
      >
    </mat-form-field>

    @if (extracted.shouldIndicateInvalidity) {
      <mat-error class="rt-input-error">
        {{ validationMessages | rtFormsDefineErrorMessage : ngControl.errors }}
      </mat-error>
    }
  </div>
}

