@if ({
  loadTokenListProcess: loadTokenListProcess$ | async,
  tokenList: tokenListPiledData$ | async,
  lastLoadTokenListError: lastLoadTokenListError$ | async,
}; as extracted) {
  <div class="mb-4">
    <div class="py-4">
      <h6 class="pre-title">Current account token list</h6>
      <h2 class="title">Retrieve status: {{ extracted.loadTokenListProcess }}</h2>
    </div>
    <mat-divider></mat-divider>
  </div>

  <button mat-button color="primary" (click)="openAddTokenDialog()">+ Add New Token</button>

  <div class="token-list__container">
    @if (extracted.loadTokenListProcess === progressStatuses.succeed) {
      @for (token of extracted.tokenList; track token?.tokenAccount) {
        <mat-card class="token-list__item">
          <mat-card-content class="token-list__item-content-wrap" [routerLink]="token?.tokenAccount">
            <div class="token-list__item-content">
              <div class="token-list__item-image-wrap">
                @if (token?.jsonMetadata?.image; as image) {
                  <img [src]="image" class="token-list__item-image" alt="token image">
                } @else {
                  <svg class="token-list__item-image token-list__item-image_not-found" height="16" width="16">
                    <use xlink:href="#not-found"></use>
                  </svg>
                }
              </div>

              <div class="token-list__item-content-wrap">
                <div class="token-list__item-header">
                  <a class="token-list__item-name">
                    {{ token?.jsonMetadata?.name || token?.metaplexMetadata?.name || 'Name Not Found' }}
                  </a>

                  <div class="token-list__item-short-address">
                    (
                    <div class="token-list__item-short-address-content">
                      {{ token?.tokenAccount }}
                    </div>
                    <div class="token-list__item-short-address-copy">
                      <app-shared-copy-action [contentToCopy]="token.tokenAccount"></app-shared-copy-action>
                    </div>
                    )
                  </div>
                </div>

                <div class="token-list__item-balance">
                  <div class="token-list__item-amount">
                    {{ token?.tokenDetails?.account?.data?.parsed?.info?.tokenAmount?.uiAmountString }}
                  </div>

                  @if (token?.jsonMetadata?.symbol || token?.metaplexMetadata?.symbol; as symbol) {
                    <div class="token-list__item-symbol">
                      {{ symbol }}
                    </div>
                  } @else {
                    <div class="token-list__item-symbol token-list__item-symbol_not-found">
                      [symbol not found]
                    </div>
                  }

                </div>

                @if (token?.jsonMetadata?.description; as description) {
                  <div class="token-list__item-description">
                    {{ description }}
                  </div>
                } @else {
                  <div class="token-list__item-description token-list__item-description_not-found">
                    No description provided
                  </div>
                }
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>

  @if (extracted.lastLoadTokenListError) {
    <p>Error occurred: {{ extracted.lastLoadTokenListError }}</p>
  }
}
