.token-details {
  overflow: hidden;
}

.token-details__actions {
  margin-top: 20px;
}

.token-details__card {
  position: relative;
}

.token-details__card-freeze {
  position: absolute;
  height: 150px;
  width: 800px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
}

.token-details__card-freeze_visible {
  display: block;
}

.token-details__card-freeze-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--white);
  z-index: 1;
}

.token-details__card-freeze-image {
  opacity: 0.7;
}

.token-details__item-general-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.token-details__item-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  min-width: 160px;
  height: 160px;
  width: 160px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 3px var(--common-gray-600);
}

.token-details__item-image {
  width: 100%;
  max-height: 160px;
  max-width: 160px;
  height: auto;
}

.token-details__item-image_not-found {
  height: 148px;
  margin-right: 6px;
}

.token-details__item-content-wrap {
  max-width: calc(100% - 200px);
}

.token-details__item-name {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: var(--light-green);
}

.token-details__item-balance {
  margin-top: 4px;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.token-details__item-amount {
  font-weight: 600;
}

.token-details__item-symbol {
  font-size: 16px;
  margin-bottom: 1px;
}

.token-details__item-symbol_not-found {
  transform: skewX(-15deg);
}

.token-details__item-description {
  margin-top: 16px;
  font-size: 14px;
  color: var(--common-gray-250);
}

.token-details__item-description_not-found {
  transform: skewX(-15deg);
}

.token-details__authorities {
  margin-top: 20px;
}

.token-details__authority-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid var(--common-gray-50);
}

.token-details__authority-item_last {
  border-bottom: 1px solid var(--common-gray-50);
}

.token-details__authority-item-description {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--common-gray-500);
}

.token-details__authority-item-content {
  font-size: 13px;
  gap: 5px;
  align-items: center;
  display: flex;
}

.token-details__authority-item-address {
  transform: skewX(-5deg);
}

.token-details__actions_burn {
  background-color: red;
}

.token-details__actions_disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

@media screen and (max-width: 1199px) {
  .token-details__card-freeze {
    height: 125px;
    width: 665px;
  }
}

@media screen and (max-width: 991px) {
  .token-details__card-freeze {
    height: 100px;
    width: 533px;
  }

  .token-details__card-freeze-icon {
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .token-details__card-freeze {
    height: 75px;
    width: 400px;
  }

  .token-details__card-freeze-icon {
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 580px) {
  .token-details__authority-item {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .token-details__authority-item-content {
    word-break: break-word;
  }

  .token-details__card-freeze {
    height: 50px;
    width: 267px;
  }
}
