@if ({
  loadTokenDetailsProcess: loadTokenDetailsProcess$ | async,
  tokenAccount: tokenAccount$ | async,
  associatedTokenAccount: associatedTokenAccount$ | async,
  tokenAmount: tokenAmount$ | async,
  supply: supply$ | async,
  tokenState: tokenState$ | async,
  tokenOwner: tokenOwner$ | async,
  mintAuthority: mintAuthority$ | async,
  freezeAuthority: freezeAuthority$ | async,
  tokenMetadata: tokenMetadata$ | async,
  tokenMetadataJson: tokenMetadataJson$ | async,
  lastLoadTokenDetailsError: lastLoadTokenDetailsError$ | async,
  mintTokenProcess: mintTokenProcess$ | async,
  freezeTokenProcess: freezeTokenProcess$ | async,
  lastFreezeTokenError: lastFreezeTokenError$ | async,
  thawTokenProcess: thawTokenProcess$ | async,
  lastThawTokenError: lastThawTokenError$ | async,
}; as extracted) {
  <mat-card class="token-details">
    <rt-loading
      [while]="
        extracted.loadTokenDetailsProcess === progressStatuses.inProgress
        || extracted.mintTokenProcess === progressStatuses.inProgress
        || extracted.freezeTokenProcess === progressStatuses.inProgress
        || extracted.thawTokenProcess === progressStatuses.inProgress
      "
      [until]="false"
    >
      <mat-card-content class="token-details__card">
        <div class="token-details__item-general-data">
          <div class="token-details__item-image-wrap">
            @if (extracted.tokenMetadataJson?.jsonMetadata?.image; as image) {
              <img [src]="image" class="token-details__item-image" alt="token image">
            } @else {
              <svg class="token-details__item-image token-details__item-image_not-found" height="16" width="16">
                <use xlink:href="#not-found"></use>
              </svg>
            }
          </div>

          <div class="token-details__item-content-wrap">
            <a class="token-details__item-name">
              {{ extracted.tokenMetadataJson?.jsonMetadata?.name || extracted?.tokenMetadata?.name || 'Name Not Found' }}
            </a>

            <div class="token-details__item-balance">
              <div class="token-details__item-amount">
                {{ extracted.tokenAmount?.uiAmountString }}
              </div>

              @if (extracted.tokenMetadataJson?.jsonMetadata?.symbol || extracted?.tokenMetadata?.symbol; as symbol) {
                <div class="token-details__item-symbol">
                  {{ symbol }}
                </div>
              } @else {
                <div class="token-details__item-symbol token-details__item-symbol_not-found">
                  [symbol not found]
                </div>
              }
            </div>

            @if (extracted.tokenMetadataJson?.jsonMetadata?.description; as description) {
              <div class="token-details__item-description">
                {{ description }}
              </div>
            } @else {
              <div class="token-details__item-description token-details__item-description_not-found">
                No description provided
              </div>
            }
          </div>
        </div>

        <div class="token-details__authorities">
          @if (extracted.tokenAccount; as tokenAccount) {
            <div class="token-details__authority-item token-details__token-address">
              <div class="token-details__authority-item-description">Token address</div>
              <div class="token-details__authority-item-content">
                <app-shared-copy-action [contentToCopy]="tokenAccount.toString()"></app-shared-copy-action>
                <div class="token-details__authority-item-address">{{ extracted.tokenAccount }}</div>
              </div>
            </div>
          }

          @if (extracted.associatedTokenAccount; as associatedTokenAccount) {
            <div class="token-details__authority-item token-details__associated-token-account">
              <div class="token-details__authority-item-description">Mint</div>
              <div class="token-details__authority-item-content">
                <app-shared-copy-action [contentToCopy]="associatedTokenAccount.toString()"></app-shared-copy-action>
                <div class="token-details__authority-item-address">{{ extracted.associatedTokenAccount }}</div>
              </div>
            </div>
          }

          @if (extracted.tokenOwner; as tokenOwner) {
            <div class="token-details__authority-item token-details__mint-authority">
              <div class="token-details__authority-item-description">Owner</div>
              <div class="token-details__authority-item-content">
                <app-shared-copy-action [contentToCopy]="tokenOwner.toString()"></app-shared-copy-action>
                <div class="token-details__authority-item-address">{{ extracted.tokenOwner }}</div>
              </div>
            </div>
          }

          @if (extracted.mintAuthority; as mintAuthority) {
            <div class="token-details__authority-item token-details__mint-authority">
              <div class="token-details__authority-item-description">Mint authority</div>
              <div class="token-details__authority-item-content">
                <app-shared-copy-action [contentToCopy]="mintAuthority.toString()"></app-shared-copy-action>
                <div class="token-details__authority-item-address">{{ extracted.mintAuthority }}</div>
              </div>
            </div>
          }

          @if (extracted.freezeAuthority; as freezeAuthority) {
            <div class="token-details__authority-item token-details__authority-item_last token-details__freeze-authority">
              <div class="token-details__authority-item-description">Freeze authority</div>
              <div class="token-details__authority-item-content">
                <app-shared-copy-action [contentToCopy]="freezeAuthority.toString()"></app-shared-copy-action>
                <div class="token-details__authority-item-address">{{ extracted.freezeAuthority }}</div>
              </div>
            </div>
          }

          <div class="token-details__actions">
            @if (extracted.tokenAccount && extracted.associatedTokenAccount) {
              @if (extracted.mintAuthority && extracted.mintAuthority.equals(currentUserPublicKey)) {
                <button
                  mat-raised-button
                  color="primary"
                  (click)="openMintTokenDialog({
                  tokenAccountPublicKey: extracted.tokenAccount,
                  associatedTokenAccountPublicKey: extracted.associatedTokenAccount,
                  mintAuthorityPublicKey: extracted.mintAuthority,
                  currentBalance: extracted.tokenAmount?.uiAmountString,
                  tokenDecimals: extracted.tokenAmount?.decimals,
                })"
                >
                  Mint token
                </button>
              }

              @if (extracted.freezeAuthority && extracted.freezeAuthority.equals(currentUserPublicKey)) {
                @if (extracted.tokenState === TokenItemState.Frozen) {
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="confirmThawToken({
                      tokenAccountPublicKey: extracted.tokenAccount,
                      associatedTokenAccountPublicKey: extracted.associatedTokenAccount,
                      freezeAuthorityPublicKey: extracted.freezeAuthority,
                    })"
                  >
                    Thaw token
                  </button>
                } @else {
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="confirmFreezeToken({
                      tokenAccountPublicKey: extracted.tokenAccount,
                      associatedTokenAccountPublicKey: extracted.associatedTokenAccount,
                      freezeAuthorityPublicKey: extracted.freezeAuthority,
                    })"
                  >
                    Freeze token
                  </button>
                }
              }
            }
          </div>
        </div>
      </mat-card-content>
    </rt-loading>
  </mat-card>

    @if (
      extracted.loadTokenDetailsProcess === progressStatuses.interrupted
      || extracted.freezeTokenProcess === progressStatuses.interrupted
      || extracted.thawTokenProcess === progressStatuses.interrupted
    ) {
      <p>Error occurred: {{ extracted.lastLoadTokenDetailsError || extracted.lastFreezeTokenError || extracted.lastThawTokenError }}</p>
    }
}
