<div class="add-token-dialog">
  <h2 class="add-token-dialog__title title">Add new token</h2>

  <form [formGroup]="createTokenForm" (ngSubmit)="onSubmit()" class="rt-form add-token-dialog__rt-form" data-cy="form">
    <div class="add-token-dialog__rt-form-label rt-form-label">
      {{ labels.name }}
    </div>
    <rt-text-input
      [formControl]="createTokenForm.controls.name"
      [placeholder]="placeholders.name"
      [validationMessages]="validationMessages.name"
    ></rt-text-input>

    <div class="add-token-dialog__rt-form-label rt-form-label">
      {{ labels.symbol }}
    </div>
    <rt-text-input
      [formControl]="createTokenForm.controls.symbol"
      [placeholder]="placeholders.symbol"
      [validationMessages]="validationMessages.symbol"
    ></rt-text-input>

    <div class="add-token-dialog__rt-form-label rt-form-label">
      {{ labels.decimals }}
    </div>
    <rt-text-input
      inputType="number"
      [formControl]="createTokenForm.controls.decimals"
      [placeholder]="placeholders.decimals"
      [validationMessages]="validationMessages.decimals"
    ></rt-text-input>

    <div class="add-token-dialog__rt-form-label rt-form-label">
      {{ labels.description }}
    </div>
    <rt-text-input
      [formControl]="createTokenForm.controls.description"
      [placeholder]="placeholders.description"
      [validationMessages]="validationMessages.description"
    ></rt-text-input>

    <div class="add-token-dialog__rt-form-label rt-form-label">
      {{ labels.image }}
    </div>
    <div class="add-token-dialog__add-image-wrap">
      <rt-single-file-input
        [formControl]="createTokenForm.controls.image"
        [acceptableFileTypes]="acceptableTypesForImage"
        dropFileLabel="Drop the image here"
        actionButtonLabel="Select the image"
      ></rt-single-file-input>
    </div>

    <div class="add-token-dialog__actions">
      <button mat-raised-button color="primary" type="submit">Create token</button>
    </div>
  </form>
</div>


