.add-token-dialog {
  max-width: 480px;
  min-width: 480px;
  width: 480px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.add-token-dialog__title {
  text-align: center;
  margin-bottom: 20px;
}

.add-token-dialog__rt-form-label {
  margin-top: 6px;
  margin-bottom: 2px;
}

.add-token-dialog__actions {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .add-token-dialog {
    width: 80vw;
    min-width: 80vw;
    max-width: 80vw;
  }
}
