@if ({
  connectWalletStatus: connectWalletStatus$ | async,
  connectWalletError: connectWalletError$ | async,
}; as extracted) {


  Login page

  <button (click)="loginWithWallet()">Login with wallet</button>

  @if (extracted.connectWalletStatus === progressStatuses.interrupted) {
    @if (extracted.connectWalletError?.name === 'WalletNotReadyError') {
      The wallet is not available on the current page. Please open the Phantom Wallet and try again.
    } @else {
      {{ extracted.connectWalletError }}
    }
  }
}


