/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .container {
    width: auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px !important;
  }
}

.pretitle {
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #698582;
}

.title {
  margin-bottom: 0;
}
