:root {
  --white: #ffffff;
  --dark-green: #698582;

  --common-gray-20: #333333;
  --common-gray-50: #4a4a4a;
  --common-gray-60: #5c5c5c;
  --common-gray-100: #9a9a9a;
  --common-gray-200: #969696;
  --common-gray-250: #a1a1a1;
  --common-gray-300: #a5a5a5;
  --common-gray-400: #b6b6b6;
  --common-gray-500: #c4c4c4;
  --common-gray-600: #dedede;
  --common-gray-700: #eaeaea;
  --common-gray-800: #f1f1f1;
}
